body {
    margin: 0;
}



/* all the elements in the navigation bar */
header {
    margin: 0;
}

nav {
    overflow: hidden;
    background: #1c3b9e;
    line-height: 25px;
}
    nav ul {
        margin: 0px 110px;
    }
        nav ul li {
            display: inline;
        }
            nav ul li a {
                color: white;
                float: left;
                padding: 20px 14px;
                text-decoration: none;
                text-align: center;
                font-weight: 900;
                font-size: 120%;
            }
            /*
                nav ul li a:hover {
                    background-color: white;
                    color: black;
                }

                nav ul li a.active {
                    background-color: white;
                    color: black;
                }
            */

    nav ul.home {
        margin: 0 10px;
        padding: 0;
    }
        nav ul.home li {
            display: inline;
        }

            nav ul.home li a {
                color: #e6e60b;
                float: left;
                padding: 18px 17px;
                text-decoration: none;
                text-align: center;
                font-weight: 900;
                font-size: 155%;
            }


/* edits all the elements in the "content holder" */
div.content {
    margin: 40px;
    color: black;
}

main {

}


/* edits the elements in the footer */
footer {
    clear: both;
    background: #1c3b9e;
    color: white;
    font-weight: 100;
    font-size: .85em;
    text-align: right;
    padding-right: 11px;
    line-height: 45px;
    height: 45px;
}
