@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --navyBlue: #163a60;
    --ligherBlue: #214266;
    --gold: #e8d60c;
    --cream: #f7f6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body {
    margin: 0;
    background: var(--ligherBlue);
}

.logo {
    cursor: pointer;
}


/* the navigation bar */
nav {
    overflow: hidden;
    background: var(--navyBlue);
    line-height: 25px;
}
    /* margin and padding of the list of tabs */
    nav ul {
        margin: 0;
        padding: 0;
    }
        nav ul li {
            display: inline;
        }
        /* how each tab looks */
            nav ul li a {
                color: white;
                float: left;
                padding: 20px 20px;
                text-decoration: none;
                text-align: center;
                font-family: "Noto Serif", serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-size: 120%;
                position: relative;
            }
                /* how the tab looks when you hover over it */
                nav ul:not(.home) li a:hover:not(.active) {
                    background-color: black;
                }
                /* the white block under each tab when it gets hovered over */
                nav ul:not(.home) li a:hover:not(.active)::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background-color: white;
                    transition: all 0.3s ease 0s;
                }
                /* */
                nav ul li a.active {
                    background: var(--gold);
                    color: black;
                }

    /* separate home class for the list in which the home button is in */
    .home {
        margin: 0;
        padding: 0;
    }
        .home li {
            display: inline;
        }
            /* how the tab of the home button looks */
            .home li a {
                color: #ffd148; /* golden/yellow color */
                float: left;
                padding: 15px 0px;
                padding-right: 30px;
                padding-left: 20px;
                position: relative;
            }
                .home li a .logo {
                    width: 175px;
                    height: 29px;
                }
                /* how the home button looks when you hover over it */
                .home li a:hover:not(.active) {}
                /* how the bar at the bottom of the tab looks when you hover over the tab */
                .home li a:hover:not(.active)::after {}
                /* how the home button looks when its the one that's active */
                .home li a.active {}


/* edits all the elements in the "content holder" */
div.content {
    padding: 40px;
    color: black;
    background: var(--cream);
}

main {

}


/* edits the elements in the footer */
footer {
    clear: both;
    background: #163a60;
    color: white;
    font-weight: 100;
    font-size: .85em;
    text-align: right;
    padding-right: 11px;
    line-height: 55px;
    height: 55px;
}

footer a {
    color: white;
    text-decoration: none;
}
