@{
    ViewData["Title"] = "About-Me";
}

.<!DOCTYPE html>
    <html>
    <head>
        <title>About Us</title>
	    <link href="~/css/aboutme.css" rel="stylesheet" />
    </head>
    <body>
    
        <div class="heading">
            <h1>About Us</h1>
            <p>Welcome to the cafe of the Golden Eagles</p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-img">
				    <img src="~/images/location/eagles-nes.jpg" />
                </div>
                <div class="about-content">
                    <h2>The Eagles Nest</h2>
                <p>
                    Welcome to Eagle's Nest, the beating heart of intellectual and social exchange at our esteemed university. Nestled in the vibrant campus community, Eagle's Nest is more than just a cafe; it's a haven where students, faculty, and visitors come together to fuel their bodies and minds. With a commitment to quality, our team crafts a diverse menu featuring locally sourced ingredients, ensuring every bite is a delicious journey.

                    But Eagle's Nest is more than just a place to grab a bite between classes. It's a hub of creativity and collaboration, where ideas are born over steaming cups of coffee and lively conversations. Whether you're seeking a quiet corner to study or a lively atmosphere to connect with peers, Eagle's Nest welcomes you with open arms.

                    Our dedicated staff strives to create an inclusive environment where everyone feels valued and respected. From our baristas crafting your perfect espresso to our chefs preparing mouthwatering meals, every member of the Eagle's Nest team is dedicated to providing exceptional service with a warm smile.

                    Join us at Eagle's Nest, where good food, great company, and boundless opportunities await. We invite you to be a part of our community and make memories that will last a lifetime.
                </p>
                </div>
            </section>
        </div>


        <div class="heading creator">
            <h1>Creators of this website</h1>
            <p>Meet the creators</p>
        </div>
        <div class="container">
            <section class="about1">
                <div class="about1-img">
				    <img src="~/images/people pic/ping-19.jpeg" />
                </div>
                <div class="about1-content">
                    <h2>Thanabodee Chuwong</h2>
                    <p>Yapper</p>
                </div>
            </section>
       
        </div>

    <div class="container">
        <section class="about1">
            <div class="about1-img">
				<img src="~/images/people pic/jojo.jpg" />
			</div>
            <div class="about1-content">
                <h2>Jojo Diaz</h2>
                <p>Yapper</p>
            </div>
        </section>

    </div>
    </body>
    </html>