@{
    ViewData["Title"] = "About-Me";
}

.<!DOCTYPE html>
    <html>
    <head>
        <title>About Us</title>
    </head>
    <body>
    
        <div class="heading">
            <h1>About Us</h1>
            <p>YAP YAP YAP</p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-img">
                    ///
                </div>
                <div class="about-content">
                    <h2>AHHAHAHAHAHAHAHAH</h2>
                    <p>GAYGAYGAY</p>
                </div>
            </section>
        </div>

    </body>
    </html>