@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/indexStyleSheet.css" />

<div class="home-container">

    <section class="home-greeting">
        <div class="home-content">
            <h1>Welcome</h1>
            <h3>To the Eagle's Nest</h3>
            <div class="btn-box">
                <a asp-area="" asp-controller="Home" asp-action="Registration">About Us</a>
                <a asp-area="" asp-controller="Home" asp-action="Menue">See Menu</a>
            </div>
        </div>
    </section>

    <section class="home-promo">
        <div class="home-content2">
            <h3>Home of</h3>
            <h1>The Adam Bomb</h1>
        </div>
        <div class="home-content3">
            <h2>Where we are:</h2>
        </div>
    </section>

    <section class="home-hours">
        <div class="home-content4">
            <h1>Hours</h1>
            <ul>
                <li>Sunday:</li>
                <li>Monay:</li>
                <li>Tuesday:</li>
                <li>Wednesday:</li>
                <li>Thursday:</li>
                <li>Friday:</li>
                <li>Saturday:</li>
            </ul>
        </div>
    </section>

</div>

