@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/indexStyleSheet.css" />

<div class="home-container">

    <section class="home-greeting">
        <div class="home-content">
            <h1>Welcome</h1>
            <h3>To the Eagle's Nest</h3>
            <div class="btn-box">
                <a asp-area="" asp-controller="Home" asp-action="Registration">About Us</a>
                <a asp-area="" asp-controller="Home" asp-action="Menue">See Menu</a>
            </div>
        </div>
    </section>

    <section class="home-more">
        <p>more content to add</p>
    </section>

</div>

