@{
    ViewData["Title"] = "Log-In";
}


<div class="loginContainer">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/loginStyle.css" />


    @using (Html.BeginForm("UserHome", "Home", FormMethod.Post))
    {
        <div class="wrapper">
            <form action="">
                <h1><img src="~/images/Logos/LaSierra_Icon.png" alt="La Sierra Logo"/> Login</h1>
                <div class="input-box">
                    @Html.TextBoxFor(m => m.Username, new { @required = "required" })
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    @Html.TextBoxFor(m => m.Password, new { @required = "required" })
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <button type="submit" class="btn">Login</button>

                <div class="register-link">
                    <p>Don't have an account? <a asp-area="" asp-controller="Home" asp-action="Registration">Register Now</a></p>
                </div>



            </form>

        </div>


     }

</div>