@{
    ViewData["Title"] = "Menu";
}


<!DOCTYPE html>
<html>
<head>
    <title>Restaurent Menue</title>
    <link href="~/css/menuestylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="section-title">
            <h4>Menue</h4>
            <p>Welcome to the Menue page</p>
        </div>
        <div class="menues">
            <div class="menue-column">
                <h4>Savory Food</h4>
                <div class="single-menue">
					<img src="~/images/foods/official guac 2.png" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Veggie pattie with a guac sauce</p>
                    </div>
                </div>
                <div class="single-menue">
					<img src="~/images/foods/official pesto.png" />
                    <div class="menue-content">
                        <h5>Pesto Gilled Cheese <span>  5$</span></h5>
                        <p>Grilled Cheese with a pesto kick</p>
                    </div>
                </div>
                <div class="single-menue">
					<img src="~/images/foods/official adambomb.png" />
					<div class="menue-content">
                        <h5>Adam Bomb <span>    8$</span></h5>
                        <p>A vegiterian take on a classic beef sandwitch</p>
                    </div>
                </div>
            </div>

            <div class="menue-column">
                <h4>Drinks</h4>
                <div class="single-menue">
					<img src="~/images/foods/official boba.png" />
					<div class="menue-content">
                        <h5>Boba MilkTea <span>4$</span></h5>
                        <p>Classic milk tea with brown sugar boba</p>
                    </div>
                </div>
                <div class="single-menue">
					<img src="~/images/foods/official coffee.png" />
                    <div class="menue-content">
                        <h5>Starbucks Coffee <span>5$</span></h5>
                        <p>Vanilla, Caramel, Mocha, and Coffee flavored</p>
                    </div>
                </div>
                <div class="single-menue">
					<img src="~/images/foods/official gatorade.png" />
                    <div class="menue-content">
                        <h5>Gatorade <span>3.99$</span></h5>
                        <p>Orange, White, Blue, Yellow, and Light blue flavor</p>
                    </div>
                </div>
            </div>
            <div class="menue-column">
                <h4>Sweets</h4>
                <div class="single-menue">
					<img src="~/images/foods/offifical cookies.png" />
                    <div class="menue-content">
                        <h5>Cookie <span>2$</span></h5>
                        <p>A sweet chocolate chip cookie</p>
                    </div>
                </div>
                <div class="single-menue">
					<img src="~/images/foods/official chips.png" />
                    <div class="menue-content">
                        <h5>Chips <span>1.99$</span></h5>
                        <p>salt and vinigar kettle cooked chips</p>
                    </div>
                </div>
                <div class="single-menue">
					<img src="~/images/foods/official m&m.png" />
                    <div class="menue-content">
                        <h5>M&M's <span>2$</span></h5>
                        <p>Almond/Peanuts chocolate M&M's</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
