@{
    ViewData["Title"] = "Menu";
}


<!DOCTYPE html>
    <html>
    <head>
        <title>Restaurent Menue</title>
	<link href="~/css/menuestylesheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            <div class="section-title">
                <h4>Menue</h4>
                <p>Welcome to the Menue page</p>
            </div>
            <div class="menues">
                <div class="menue-column">
                    <h4>Breakfast</h4>
                    <div class="single-menue">
					    <img src="~/images/foods/guacburger_img_06.jpg" />
                        <div class="menue-content">
                            <h5>Guac Burger <span>7.99$</span></h5>
                            <p>Haha lmao</p>
                        </div>
                    </div>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
                </div>
            <div class="menue-column">
                <h4>Breakfast</h4>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
            </div>
            <div class="menue-column">
                <h4>Breakfast</h4>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
                <div class="single-menue">
                    <img src="~/images/foods/guacburger_img_06.jpg" />
                    <div class="menue-content">
                        <h5>Guac Burger <span>7.99$</span></h5>
                        <p>Haha lmao</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
    </html>
