@{
    ViewData["Title"] = "Registered!";
}

<div class="contentContainer">
    <link rel="stylesheet" href="~/css/registerSucessSS.css" />

    <div class="wrapper">
        <form action="">

            <h1>@ViewData["Greeting"]</h1>

            <p>@ViewData["Success"]</p>

            <button asp-area="" asp-controller="Home" asp-action="Index" class="btn">Go Home</button>

        </form>
    </div>

</div>