@{
    ViewData["Title"] = "Registered!";
}

<div class="contentContainer">
    <link rel="stylesheet" href="~/css/registerSuccessSS.css" />

    <div class="wrapper">

        <h1>@ViewData["Greeting"]</h1>

        <p>@ViewData["Success"]</p>

        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Go Home</a>

    </div>

</div>

